.DS_Store
node_modules
build
dist
.svelte-kit
.env
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
pb_data
/pb_data
.vscode
.svelte-kit
*.lockb
*lock.yaml
__pycache__
*.bin
*.gguf
*.safetensors
